# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/
.next/
out/
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# Env (ver arquivos permitidos acima)
*.local

# Coverage
coverage/

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json